{% extends 'base.html.twig' %}

{% block body %}

    <h2>
        Jobs List
        <a class="btn btn-primary" href="{{ path('job_new') }}" >Create New Job</a>
    </h2>

    <div class="well" >
        {{ form_start(form, {attr: {class: 'form-inline'}}) }}
            <div class="form-group" >
                {{ form_label(form.search) }}
                {{ form_widget(form.search, { attr: { class: 'form-control' }}) }}
            </div>

            <div class="form-group" >
                {{ form_label(form.category) }}
                {{ form_widget(form.category, { attr: { class: 'form-control' }}) }}
            </div>

            <div class="form-group" >
                {{ form_label(form.company) }}
                {{ form_widget(form.company, { attr: { class: 'form-control' }}) }}
            </div>

            <button class="btn btn-primary" type="submit" >Submit</button>
        {{ form_end(form) }}
    </div>

    <table class="table" >
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Company</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>
                        {{ job.title }}
                    </td>
                    <td>
                        {{ job.description }}
                    </td>
                    <td>
                        {% if job.company is not empty %}
                            {{ job.company.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if job.category is not empty %}
                            {{ job.category.name }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('job_show', {id: job.id}) }}" >Show</a>
                            </li>
                            <li>
                                <a href="{{ path('job_edit', {id: job.id}) }}" >Edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
