{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table class="table" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    <ul>
                        {% for address in company.addresses %}
                            <li>{{ address.number ~' '~address.street ~' '~ address.city }}</li>
                        {% endfor %}
                    </ul>
                </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
